/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*@font-face {
    font-family: 'Taviraj';
    font-display: fallback;
    src: local('Taviraj'), url(https://fonts.gstatic.com/s/taviraj/v4/ahccv8Cj3ylylTXzRCYKR-5RgA.woff2) format('woff2');
    font-style: normal;
    font-weight: 200;
}*/

@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 300;
    src: local('Cormorant Garamond Light'), local('CormorantGaramond-Light'), url(https://fonts.gstatic.com/s/cormorantgaramond/v6/co3YmX5slCNuHLi8bLeY9MK7whWMhyjQAllfvg-I.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(lightblue, #fff);
}

.title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    margin: 8vw 0;
    border: 1.5px solid gray;
}

.title-text {
    font-size: 15vw;
    font-weight: 300;
    font-family: 'Cormorant Garamond';
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding: 8vw;
}

.button {
    width: 16vw;
    height: 16vw;
    border-radius: 20%;
    border: 1.5px solid lightblue;
    background-color: #ebf6f9;
    margin: 2vh;
    padding: 1vh;
    overflow: hidden;
}

.button:hover {
    background-color: #c4e3ed;
    border-color: #9dd0e1;
}

.button img {
    height: 100%;
}

.button img:hover {
    opacity: 0.7;
}

.button.linkedin {
    padding: 0;
}


@media screen and (min-aspect-ratio: 10/12) and (min-width: 600px) {
    body {
        height: 100vh;
    }

    .profile {
        width: 26.9vw;
        height: 26.9vw;
        margin: 0;
    }

    .title-text {
        font-size: 15.4vw;
        margin-bottom: 1.5vh;
    }

    .buttons {
        justify-content: center;
        padding: 0;
    }

    .button {
        width: 8vh;
        height: 8vh;
        margin: 2vh;
        padding: 1vh;
    }
}

@media screen and (min-aspect-ratio: 13/10) and (min-width: 600px) {
    .title-text {
        font-size: 20vh;
    }

    .profile {
        width: 35vh;
        height: 35vh;
    }
}

@media screen and (min-aspect-ratio: 5/2) and (min-width: 600px) {
    .title {
        flex-direction: row;
    }

    .profile {
        margin-right: 5vh;
    }

    .title-text {
        font-size: 25vh;
    }
}
